.matvis {
  text-align: center;
  border-left: 6px solid #073b4c;
  padding: 1em;
}

.matvis-title {
  text-transform: uppercase;
  text-align: left;
}

.matvis-value {
  font-size: 3em;
}

.matvis-legend {
  float: right;
}

.matvis-legend-key {
  line-height: 1.4em;
  width: 4.5em;
}

.matvis-legend-key::before {
  content: "\00a0";
  font-size: 1.2em;
  position: relative;
}

/* Adjust position of symbols */
.matvis-legend-key.matvis-tlc-1::before { top: 1px; }
.matvis-legend-key.matvis-tlc-2::before,
.matvis-legend-key.matvis-tlc-3::before,
.matvis-legend-key.matvis-tlc-4::before { top: 3px; }

.matvis-table {
  border-spacing: 5px;
  border-collapse: separate;
}

.matvis-th, .matvis-td {
  position: relative;
  padding: 3px;
}

.matvis-th {
  font-weight: bold;
  background-color: #99acff; /* violet */
}

.matvis-td {
  background-color: #e7edeb; /* grey */
}

.matvis-cb {
  background-size: 72%;
  background-position: center center;
  background-repeat: no-repeat;
}
.matvis-cb-economic {
  background-image: url("./img/icons/economic.png");
}
.matvis-cb-ecosystem {
  background-image: url("./img/icons/ecosystems.png");
}
.matvis-cb-energy {
  background-image: url("./img/icons/energy.png");
}
.matvis-cb-health {
  background-image: url("./img/icons/health.png");
}
.matvis-cb-socio-cultural {
  background-image: url("./img/icons/socio-cultural.png");
}

.matvis-cb span {
  display: block;
  transform: rotate(315deg);
  padding: 1em 0;
  position: relative;
  top: -5em;
}

.matvis-table .matvis-th:first-child {
  background-color: transparent;
}
.matvis-table .matvis-th:first-child span {
  display: none;
}
.matvis-table td:first-child[rowspan] span {
  display: block;
  transform: rotate(270deg);
  padding: 0 0.5em;
  width: min-content;
}

.matvis-table-group-0 td {
  background-color: #cdd6ff; /* lavander */
}

.matvis-table-group-1 td {
  background-color: #ded3f8; /* lilac */
}

.matvis-table-group-2 td {
  background-color: #cfdfc4; /* pale green */
}

.matvis-table-group-3 td {
  background-color: #fff0b6; /* primrose */
}

/* Results cells */
.matvis-tl {
  width: 6em;
}

/* Traffic light level */
.matvis-table .matvis-tll-0 { background-color: #e7edeb; } /* grey */
.matvis-table .matvis-tll-1 { background-color: #f90334; } /* red */
.matvis-table .matvis-tll-2 { background-color: #ffde59; } /* yellow */
.matvis-table .matvis-tll-3 { background-color: #80cc28; } /* green */

/* Traffic light confidence */
.matvis-tlc-0::before { content: "\00a0"; } /* grey */
.matvis-tlc-1::before { content: "\25cb"; } /* open circle */
.matvis-tlc-2::before { content: "\2022"; } /* bullet */
.matvis-tlc-3::before { content: "\2022 \2022"; } /* 2 bullets */
.matvis-tlc-4::before { content: "\2022 \2022 \2022"; } /* 3 bullets */

/* Font size adjustments to make symbol sizes match */
.matvis-tlc-1::before { font-size: 1.2em; }
.matvis-tlc-2::before,
.matvis-tlc-3::before,
.matvis-tlc-4::before { font-size: 1.9em; }

/* Adaptation/mitigation */
.matvis-am-adaptation::before, .matvis-am-mitigation::before {
  font-weight: bold;
  display: inline-block;
  height: 1.6em;
  width: 1.6em;
  line-height: 1.1em;
  margin-right: 0.3em;
  padding: 0.3em;
  border-radius: 1em;
  background-color: #737373; /* dark grey */
  color: #ffffff;
}
.matvis-am-adaptation::before { content: "A";}
.matvis-am-mitigation::before { content: "M";}

/* Contextual information */
.matvis-info {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 10;
  width: 12em;
  border: 1px solid black;
  padding: 0.5em;
  /*background-color: #ffffff;*/
  background-color: inherit;
  opacity: 0.9;
}

.matvis-info span {
  display: block;
}

.matvis-td {
  position: relative;
}

.matvis-td:hover .matvis-info {
  display: block;
}