.matvis {
  text-align: center;
  border-left: 6px solid #073b4c;
  padding: 1em;
}

.matvis-title {
  text-transform: uppercase;
  text-align: left;
}

.matvis-value {
  font-size: 3em;
}

.matvis-legend {
  float: right;
}

.matvis-legend-key {
  line-height: 1.4em;
  width: 4.5em;
}

.matvis-legend-key::before {
  content: "\00a0";
  font-size: 1.2em;
  position: relative;
}

/* Adjust position of symbols */
.matvis-legend-key.matvis-tlc-1::before { top: 1px; }
.matvis-legend-key.matvis-tlc-2::before,
.matvis-legend-key.matvis-tlc-3::before,
.matvis-legend-key.matvis-tlc-4::before { top: 3px; }

.matvis-table {
  border-spacing: 5px;
  border-collapse: separate;
}

.matvis-th, .matvis-td {
  position: relative;
  padding: 3px;
}

.matvis-th {
  font-weight: bold;
  background-color: #99acff; /* violet */
}

.matvis-td {
  background-color: #e7edeb; /* grey */
}

.matvis-cb {
  background-size: 72%;
  background-position: center center;
  background-repeat: no-repeat;
}
.matvis-cb-economic {
  background-image: url("./img/icons/economic.png");
}
.matvis-cb-ecosystem {
  background-image: url("./img/icons/ecosystems.png");
}
.matvis-cb-energy {
  background-image: url("./img/icons/energy.png");
}
.matvis-cb-health {
  background-image: url("./img/icons/health.png");
}
.matvis-cb-socio-cultural {
  background-image: url("./img/icons/socio-cultural.png");
}
.matvis-cb-context_sensitivity {
  background-image: url("./img/icons/context_sensitivity.png");
}

.matvis-cb span {
  display: block;
  transform: rotate(315deg);
  padding: 1em 0;
  position: relative;
  top: -5em;
}

.matvis-cb-context_sensitivity span {
  transform: none;
  top: -4.2em;
}

.matvis-table .matvis-th:first-child {
  background-color: transparent;
}
.matvis-table .matvis-th:first-child span {
  display: none;
}
.matvis-table td:first-child[rowspan] span {
  display: block;
  transform: rotate(270deg);
  padding: 0 0.5em;
  width: min-content;
}

.matvis-table-group-0 td:not(.matvis-tl) {
  background-color: #cdd6ff; /* lavender */
}

.matvis-table-group-1 td:not(.matvis-tl) {
  background-color: #ded3f8; /* lilac */
}

.matvis-table-group-2 td:not(.matvis-tl) {
  background-color: #cfdfc4; /* pale green */
}

.matvis-table-group-3 td:not(.matvis-tl) {
  background-color: #fff0b6; /* primrose */
}

/* Results cells */
.matvis-tl, .matvis-cs {
  width: 6em;
}

/* Traffic light level */
.matvis-table .matvis-tll-0 { background-color: #e7edeb; } /* grey */
.matvis-table .matvis-tll-1 { background-color: #f90334; } /* red */
.matvis-table .matvis-tll-2 { background-color: #ffde59; } /* yellow */
.matvis-table .matvis-tll-3 { background-color: #80cc28; } /* green */

/* Traffic light confidence */
.matvis-tlc-0::before { content: "\00a0"; } /* space */
.matvis-tlc-1::before { content: "\25cb"; } /* open circle */
.matvis-tlc-2::before { content: "\2022"; } /* bullet */
.matvis-tlc-3::before { content: "\2022 \2022"; } /* 2 bullets */
.matvis-tlc-4::before { content: "\2022 \2022 \2022"; } /* 3 bullets */

/* Font size adjustments to make symbol sizes match */
.matvis-tlc-1::before { font-size: 1.2em; }
.matvis-tlc-2::before,
.matvis-tlc-3::before,
.matvis-tlc-4::before { font-size: 1.9em; }

/* Context sensitivity */
.matvis-cs-1::before { content: "\25a0"; } /* square */
.matvis-cs-2::before { content: "\25a0 \25a0"; } /* 2 squares */
.matvis-cs-3::before { content: "\25a0 \25a0 \25a0"; } /* 3 squares */
.matvis-cs-4::before { content: "\25a0 \25a0 \25a0 \25a0" } /* 4 squares */
.matvis-cs-5::before { content: "\25a0 \25a0 \25a0 \25a0 \25a0" } /* 5 squares */

.matvis-cs::before { font-size: 1.2em; }

.matvis-cs span {
  display: none;
}

/* Adaptation/mitigation */
.matvis-am-a::before, .matvis-am-m::before, .matvis-am-a_m::before {
  font-weight: bold;
  display: inline-block;
  height: 1.6em;
  width: 1.6em;
  line-height: 1.1em;
  margin-right: 0.3em;
  padding: 0.3em;
  border-radius: 1em;
  background-color: #737373; /* dark grey */
  color: #ffffff;
}
.matvis-am-a::before { content: "A";}
.matvis-am-m::before { content: "M";}
.matvis-am-a_m::before { width: 2.8em; content: "A/M";}

/* Contextual information */
.matvis-info {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 10;
  width: 24em;
  border: 1px solid black;
  padding: 0.5em;
  /*background-color: #ffffff;*/
  background-color: inherit;
  opacity: 0.9;
  text-align: left;
}

.matvis-info span {
  display: block;
}

.matvis-td {
  position: relative;
}

.matvis-td:hover .matvis-info {
  display: block;
}

section p {
  max-width: 55em;
}

.toc {
  list-style: none;
  margin: 10px 0;
  padding: 10px 15px;
}